<p>
  There is nothing either good or bad but <%= noun %> makes it so.
</p>

<p>
  Ruby version <%= RUBY_VERSION %><br>
  Controller name: <%= cont %><br>
  User agent: <%= user_agent %><br>
  Request time: <%= time %><br>
  Rulers Gem version: <%= gem_version %>
</p>

<%= env %>
